{% extends 'index.html' %}
{% block articel_list %} 
<div>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
  <tr>
    <th>عنوان</th>
    <th>متن</th>
    <th>تصویر</th>
    <th>بازدید</th>

  </tr>
  {% for articel in articles %}
  <tr>
    <td><a href="detail/{{articel.id}}">{{articel.title}}</a></td>
    <td>{{articel.description}}</td>
    <td><img src="{{articel.image.url}}"  width="50" height="50"></td>
    <td>{{articel.views}}</td>  
   {% endfor %}   
   
  </tr>
  </div> 
  {% endblock articel_list %}
