{% extends 'index.html' %}
{% block home %}

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <center> 
                <h2>بخش مقالات</h2>
                <p class="lead">در ای قسمت شما میتوانید برخی از مهم ترین مقالات معرفی شده دنیای تکنولوژی را بخوانید</p>
                <a href="article_list" class="link-secondary">رفتن به این بخش</a>
                </center> 
            </div>
        </div>
    </div>
</section>
{% endblock home %}